<mat-toolbar>
  <div class="left">
    <a mat-button routerLink="/"><mat-icon>school</mat-icon></a>
    <a *displayIf="'ADMIN'"  mat-button routerLink="/stagiaires" routerLinkActive="mat-primary">
      Stagiaires
    </a>
    <a *displayIf="'ADMIN'" mat-button routerLink="/formateurs" routerLinkActive="mat-primary">
      Formateurs
    </a>
    <a *displayIf="'ADMIN'" mat-button routerLink="/groupes" routerLinkActive="mat-primary">
      Groupes
    </a>
    <a *displayIf="'ADMIN'" mat-button routerLink="/modules" routerLinkActive="mat-primary">
      Modules
    </a>
  </div>

  <div class="right">

    <span *displayIf="'AUTHENTICATED'">
      Hello {{user?.prenom}} {{user?.nom}} !
    </span>
    <a *displayIf="'ANONYMOUS'" mat-stroked-button color="primary" routerLink="/login">
      <mat-icon>login</mat-icon>
    </a>
    <button *displayIf="'AUTHENTICATED'" mat-stroked-button (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>

</mat-toolbar>
