<mat-drawer-container class="container" autosize>
  <mat-drawer id="drawer" class="mat-elevation-z8" #drawer mode="side" position="end">

    <div class="drawer-content">

      <app-title title="{{sideTitle}}">
        <div class="drawer-actions">
          <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="selectedModule?.id != 0">Delete</button>
          <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="selectedModule?.id == 0 || !moduleFormGroupe.pristine">Save</button>
          <button mat-raised-button (click)="onCancel()">Close</button>
        </div>
      </app-title>

      <form [formGroup]="moduleFormGroupe">

        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input id="nom" formControlName="nom" matInput>
          <mat-error [printErrors]="moduleFormGroupe.get('nom')"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input id="description" formControlName="description" matInput>
          <mat-error [printErrors]="moduleFormGroupe.get('description')"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Formateur</mat-label>
          <mat-select formGroupName="formateur">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let f of formateurs" [value]="f">
              {{f.prenom}} {{f.nom}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </form>

      <!-- <mat-form-field class="example-chip-list" appearance="outline">
        <mat-label>Participants</mat-label>
        <mat-chip-list #chipList class="mat-chip-list-stacked" aria-label="Selection participants">
          <mat-chip
            *ngFor="let p of participantsFormArray.value; let i = index"
            (removed)="removeParticipation(i)">
            <p>{{p.stagiaire.prenom}} {{p.stagiaire.nom}}</p>
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
        <input
          placeholder="Ajouter un stagiaire"
          #groupeInput
          [formControl]="stagiaireFormControl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addParticipation($event)">
          <mat-option *ngFor="let s of filteredStagiaires | async" [value]="s">
            {{s.prenom}} {{s.nom}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->

    </div>
  </mat-drawer>


<div id="modules" class="mat-elevation-z8">

  <app-title title="Modules">
    <button mat-raised-button color="primary" (click)="onAdd()">Nouveau</button>
  </app-title>

  <table mat-table [dataSource]="modules" class="" #table>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="formateur">
      <th mat-header-cell *matHeaderCellDef> Formateur </th>
      <td mat-cell *matCellDef="let element">{{element.formateur?.prenom}} {{element.formateur?.nom}}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="groupsName">
      <th mat-header-cell *matHeaderCellDef> Groupes </th>
      <td mat-cell *matCellDef="let element"> {{element.groupeNames}} </td>
    </ng-container>

    <ng-container matColumnDef="participationsNb">
      <th mat-header-cell *matHeaderCellDef> Nb. participations </th>
      <td mat-cell *matCellDef="let element"> {{element.participationsNb}} </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="['id','name','description','formateur']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id','name','description','formateur'];" (click)="onSelect(row)"></tr>
  </table>

</div>


</mat-drawer-container>
