<!-- <mat-drawer-container class="container" autosize>
  <mat-drawer id="drawer" class="mat-elevation-z8" #drawer mode="side" position="end">

    <div class="drawer-content">


    </div>
  </mat-drawer>


<div * id="formations" class="mat-elevation-z8">

  <app-title title="Modules">
  </app-title>


  <app-title title="Participations">
  </app-title>

  <table mat-table [dataSource]="participations" class="" #table>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="formateur">
      <th mat-header-cell *matHeaderCellDef> Formateur </th>
      <td mat-cell *matCellDef="let element">{{element.formateur?.prenom}} {{element.formateur?.nom}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id','name','description','formateur']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id','name','description','formateur'];" (click)="onSelect(row)"></tr>
  </table>

</div>


</mat-drawer-container> -->




<div class="mat-elevation-z8" style="padding: 10px; display: flex; align-items: center; width: 500px; margin: 100px auto;">
  <img src="assets/wip.png" style="width: 100px; margin-right: 10px">
  The main page of the application. It will show modules linked to the user, and the actions the user can perform on the modules. The exact content (and actions) will depend on the user role. Not likely to be implemented soon.
</div>

